@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");

@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap"); */
/* Add this to your global stylesheet (e.g., index.css) */
html {
  scroll-behavior: smooth;
}

